@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@theme {
  --color-primery-green: #21543f;
  --color-secondary-yellow: #ffff47;
  --color-white: #ffffff;
  --color-black: #000000;
}
